*.Rproj.user
**.Rhistory
**.DS_Store
src/*.so
src/*.o
.Rhistory
.RData
.Ruserdata
*.Rproj
*.log
*.aux
*.out
*.toc
*.bbl
*.blg
*.synctex.gz
*.fls
*.fdb_latexmk
*.nav
*.snm
*.vrb
.cache
*.cache
*_cache/
README_cache/
*.html
!docs/*.html
.MRMST.Rcheck
MRMST.Rcheck
.Rbuildignore.bak
